body, html{
    padding: 0;
    margin: 0;
}


h1, h2, h3,
h4, h5, h6,
p, a, li, ul{
    margin: 0;
    padding: 0;
    color: #fff;
    /* font-size: 1.1em; */
}



#hero_section{
    background-color: #000;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    overflow: hidden;

}




h1,p{
    text-align: center;
}

h1{
    font-size: 8em;
}

p{
    font-size: 1.2em;
}

.tiny_text{
    font-size: .5em;
}

.yellow_text{
    color: yellow;
}

#good_food{
    width: 20em;
    border: 4px solid navy;
}

#good_food:hover{
    filter: contrast(2);

}