body, html{
    padding: 0;
    margin: 0;
}


h1, h2, h3,
h4, h5, h6,
p, a, li, ul{
    margin: 0;
    padding: 0;
    color: #fff;
}



#hero_section{
    background-color: #000;
    height: 100vh;
    width: 100vw;
}




h1,p{
    text-align: center;
}

h1{
    font-size: 8em;
}

.tiny_text{
    font-size: .5em;
}

.yellow_text{
    color: yellow;
}